[phases.setup]
node_version = "20"

[phases.install]
cmds = ["corepack enable", "pnpm install --no-frozen-lockfile"]

[phases.build]
cmds = ["pnpm run build"]

[start]
cmd = "pnpm run start"

[variables]
NODE_ENV = "production"